APP_NAME=SIGERD
APP_ENV=local
APP_DEBUG=true
APP_URL=http://sigerd.local
APP_BASE_PATH=
APP_TIMEZONE=America/Fortaleza
APP_VERSION=1.0.0

DB_CONNECTION=mysql
DB_HOST=127.0.0.1
DB_PORT=3306
DB_DATABASE=sigerd
DB_USERNAME=root
DB_PASSWORD=
DB_CHARSET=utf8mb4

SESSION_COOKIE=sigerd_session
SESSION_LIFETIME=120
SESSION_SECURE=false
SESSION_HTTP_ONLY=true
SESSION_SAME_SITE=Lax

AUTH_LOGIN_FIELD=email_login
AUTH_PASSWORD_MIN_LENGTH=8
AUTH_MAX_ATTEMPTS=5

AUDIT_ENABLED=true

ENTERPRISE_API_HEADER_NAME=X-Api-Key
ENTERPRISE_API_PREFIX_LENGTH=12
ENTERPRISE_API_TOKEN_PEPPER=

PAYMENTS_PROVIDER=MERCADO_PAGO
PAYMENTS_CURRENCY=BRL
PAYMENTS_CHECKOUT_TOKEN_PEPPER=
PAYMENTS_ALLOW_LOCAL_FALLBACK=true
MP_PUBLIC_KEY=
MP_ACCESS_TOKEN=
MP_WEBHOOK_SECRET=
MP_USE_SANDBOX=true
MP_API_BASE_URL=https://api.mercadopago.com
MP_WEBHOOK_URL=
MP_STATEMENT_DESCRIPTOR=SIGERD
MP_BINARY_MODE=false
MP_MAX_INSTALLMENTS=12
MP_DEFAULT_INSTALLMENTS=1
MP_ENABLE_PIX=true
MP_ENABLE_CREDIT_CARD=true
MP_ENABLE_DEBIT_CARD=true
MP_EXCLUDED_PAYMENT_TYPES=ticket,atm,prepaid_card
MP_EXCLUDED_PAYMENT_METHODS=
